In [4]:
import numpy as np
import pandas as pd
from sklearn.metrics import balanced_accuracy_score as bas
import gc
gc.enable()

from sklearn.linear_model import LogisticRegression, SGDClassifier

from os import listdir
from os.path import isfile, join

In [5]:
catcode = pd.read_csv('../data-simplified-1-catcode.csv', header = None, names = ['category'])['category']

## Test

In [6]:
DIR = '../ensens/'

In [7]:
test = {f[5:-4] : f for f in listdir(DIR) if ((isfile(join(DIR, f))) and f[0] == 't')}

In [8]:
test, len(test)

({'ensemble10': 'test_ensemble10.csv',
  'ensemble11': 'test_ensemble11.csv',
  'ensemble06': 'test_ensemble06.csv'},
 3)

In [10]:
%%time
for k, v in test.items():
    print(k)
    test[k] = pd.read_csv(DIR+v, header = None, index_col = False)

ensemble10
ensemble11
ensemble06
CPU times: user 3min 58s, sys: 9.74 s, total: 4min 8s
Wall time: 4min 57s

In [11]:
# I just guessed these values :)
coeftest = {
    # 'ensemble10' : 0.55,
    'ensemble06' : 0.45,
    'ensemble11': 0.55,
}

In [12]:
%%time
ensemble = sum(test[df] * coef for df, coef in coeftest.items()) / sum(coeftest.values())

CPU times: user 14.7 s, sys: 4.47 s, total: 19.1 s
Wall time: 7.45 s

In [13]:
sample = pd.read_csv('../sample_submission.csv')

In [14]:
%%time
sample['category'] = np.vectorize(catcode.get)(ensemble.values.argmax(axis=1))

CPU times: user 3.29 s, sys: 596 ms, total: 3.89 s
Wall time: 3.82 s

In [15]:
sample.head()

   id                              category
0   0                           DIAPER_BAGS
1   1                    BABY_CHANGING_PADS
2   2             ENGINE_COOLING_FAN_MOTORS
3   3  AUTOMOTIVE_SHOCK_ABSORBER_BUMP_STOPS
4   4                        BABY_CAR_SEATS

In [16]:
sample.to_csv('../submission_MegaEnsemble02.csv', index = False)

#02 0.91342

In [17]:
sample.shape

(246955, 2)

In [18]:
pd.read_csv('../submission_MegaEnsemble02.csv').head()

   id                              category
0   0                           DIAPER_BAGS
1   1                    BABY_CHANGING_PADS
2   2             ENGINE_COOLING_FAN_MOTORS
3   3  AUTOMOTIVE_SHOCK_ABSORBER_BUMP_STOPS
4   4                        BABY_CAR_SEATS